-----BEGIN CERTIFICATE-----
MIIDcTCCAlmgAwIBAgIUeAQDIFUkSnysG150O2D0UQ4U4x4wDQYJKoZIhvcNAQEL
BQAwOjEfMB0GA1UECgwWQ2hhcml0eSBSZW1vdGUgQ29udHJvbDEXMBUGA1UEAwwO
cmVtb3RlLWNvbnRyb2wwHhcNMjYwODI3MTczNzMzWhcNMzYwODI0MTczNzMzWjA6
MR8wHQYDVQQKDBZDaGFyaXR5IFJlbW90ZSBDb250cm9sMRcwFQYDVQQDDA5yZW1v
dGUtY29udHJvbDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAL33N8PD
Ew18wCNMSpSOvoaR/hgLoQ6ZbE233EYs52Rk2q6ljO8i8DX3YJoyQDCsAJxJjjv1
oseH7eJfrfamIZPcHXcH/joJxKOagvF8WQ3NFBsrSzbygUEQfSo7jjJrJBAULXVr
+EY0lrF0kyPsSgEI4mHX4tvm0Cwnpk4UoERu/aCuhd5sk9M1La5KcnRcmnIGlArV
fIbyNIL3S66n3aS2CixgN5W12TwwPZ0NCBk5BSEKoqQ5GN08UaTebryAKW/7o/9J
W+GX8Waypte8BRDwBJleOWLOckSrvayHLtGfc9Z1Vcv26yhJ+C09lB6m/nrr20pP
cy7s1jB/v/1Vfo8CAwEAAaNvMG0wHQYDVR0OBBYEFAtLCgbKmcEQ19iKf7fRL0Bo
ryDFMB8GA1UdIwQYMBaAFAtLCgbKmcEQ19iKf7fRL0BoryDFMA8GA1UdEwEB/wQF
MAMBAf8wGgYDVR0RBBMwEYIJbG9jYWxob3N0hwR/AAABMA0GCSqGSIb3DQEBCwUA
A4IBAQAljiICxeGpLgLl2tMh7gJ6iUfURzDV5Y6VW8BRw5HQywDyGx8bXXkSWSEQ
eAtSB8VJOZQtodIQQazDLh6H5Se9jc3IxTHT7GwgKGNPCYkwLQE0bnClQFQOuVYo
qgDjfateeALhV4/q3XZAstzt7bnwaZO/EKHHyBcQZSYT1ESXKkYiSfpx95j7CGlq
MwPQ/+3iGZcAsQnrCBwqhGmRkQMUIX0uIPlJByDENJJQ80O4If2+YDOB+7sbL5EB
1EZH9frPCHEWAQExvE8Th90rAF3V5rykbBeNjAF+5EUBpQp12MGvoiM91NQxxfqk
pdRgF5m5T59cfWnpFSrmltIqhBnK
-----END CERTIFICATE-----
